@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()

<h2>Index</h2>
<h2>Client Cert Subject Name: @Request.ClientCertificate.Subject</h2>
<h2>Logged in as: @User.Identity.Name</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Logout", "Logout")</p>
    <p>@Html.ActionLink("Manage certs", "Index", "Certificate")</p>
    
    
    <h3>Your Claims</h3>
    <dl>
        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
            <dd>@claim.Issuer</dd>
        }
    </dl>

}
else
{
    <p>@Html.ActionLink("Login with client cert", "Cert")</p>
}