@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangeEmailRequestInputModel
@{
    ViewBag.Title = "Change Email";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button>Change Email</button>
        </div>
    </fieldset>
}

@using (Html.BeginForm("Confirm", "ChangeEmail", FormMethod.Get))
{
    <fieldset>
        <legend>Confirm</legend>
        <p>
            <label for="id">Key</label>
            <input id="id" name="id" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
}
