@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        You are already logged in as @User.Identity.Name but you 
        tried to access a resource that you do not have permission
        for. Please login with an account that does have access
        or contact your administrator to grant you access.
    </p>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button>Login</button>
        </div>

    </fieldset>
}

<p>Or to use a client certificate to login click @Html.ActionLink("here", "CertificateLogin")</p>