@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangeMobileRequestInputModel

@{
    ViewBag.Title = "Change Mobile Phone Number";
}

<h2>@ViewBag.Title</h2>

<h3>Current Mobile: @Model.Current</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <p>
            @Html.LabelFor(x=>x.NewMobilePhone)
            @Html.EditorFor(x=>x.NewMobilePhone)
            @Html.ValidationMessageFor(x=>x.NewMobilePhone)
        </p>
        <div class="buttons">
            <button name="button" value="change">Change Mobile Phone Number</button>
            <button name="button" value="remove" class="disable">Remove Mobile Phone Number</button>
        </div>
    </fieldset>
}

@using (Html.BeginForm("Confirm", "ChangeMobile"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Verify Mobile Code</legend>
        <p>
            <label for="code">Code</label>
            <input id="code" name="code" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
}
